{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock banner_slider %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">This is a public limited company having its registered and corporate office at Kathmandu State of Nepal. The company was 
                incorporated in the year 2019 and production commenced in 2021.
            This is one of the fasted growing public listed companies in Kathmandu.</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <div class="row container">
            <p class="fs-4 text-center">To embrace the right technology to deligh our Customers.
                Empowering the farmer community through our unique 'Relationship Farming' Model.
                To anticipate, understand and respond to out Customers' needs by creating high-quality products and making them through innovative and convenient channels.
            </p>
        </div>
        <br>

    </div>
    <br><br>
{% endblock main-content %}